*{
  margin: 0;
  padding: 0;
  font-family: '나눔 고딕', 'NanumGothic','맑은고딕',Gothic;
}
a{
  text-decoration: none;
}
body{
  width: 960px;
  margin: auto;
  background: #E6E6E6;
}
#main-header
{
  padding: 40px,50px,40px,50px;
}
#main-nav{
  border-top: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
  height: 30px;
}
.outer-menu-item{
  float: left;
}
.menu-title{
  display: inline-block;
  height: 20px;
  text-align: center;
  padding: 5px, 20px,5px,20px;
  color: black;
}
.menu-title:hover{
  background: white;
  border-radius: 5px;
  color: white;
}
.menu-title:visited{
  color: green;
}
#content{
  overflow: hidden;
}
#main-section{
  float: left;
  width: 710px;
}
#main-aside{
  float: right;
  width: 250px;
}
article{
  padding: 0,10px,20px,10px;
  border-bottom: 1px solid #C8C8C8;
}
.aside-list{
  padding: 10px,0,30px,0;
  margin-top: 100px;
}
h3{
  font-size: 15px;
  font-weight: 600;
}
a{
  margin: 0,0,0,8px;
  font-size: 13px;
  color: #6C6C6C;
}
footer{
  font-size: 10px;
  color: #666666;
}
